* {
    margin:0;
    padding: 0;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title {
    font-size: 2rem;
    color: blue;
    margin: 20px 0;
}

.inputs-container {

    button {
        padding: 5px;
        box-sizing: content-box;
        border-radius:9px;
        background-color: rgba(0, 128, 0, 0.29);
        color: green;
        border: solid 1px green;
        cursor: pointer;
    }
}

.deleteButton {
    color: black;
}

ul {
    margin-top: 20px;
    padding: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    border: solid 2px green;
    border-radius: 8px;

    li {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        button {
            padding: 5px;
            box-sizing: content-box;
            border-radius:9px;
            background-color: rgba(255, 0, 0, 0.29);
            color: red;
            border: solid 1px red;
            cursor: pointer;
        }

    }
}
